html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Fonts */
/* Colors */
/* Layout */
/* Clearfix */
#masthead-wrap header:after, .main-navigation ul:after, .case-study:after {
  content: "";
  display: table;
  clear: both; }

/* Box Sizing */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Center Block Element */
#masthead-wrap header, .centered, #footer-wrap .site-footer {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Remove all margin and padding */
/* PX to EM Converter */
/* generate easy linear gradients */
/* Wordpress Image Alignment and Caption Class */
.screen-reader-text {
  position: absolute !important;
  left: -999em; }

/* Responsive Media Query */
/* Settings */
html {
  background: white;
  color: black;
  font: 16 1 "Open Sans", sans-serif; }
  @media (max-width: 1000px) {
    html {
      font-size: 14px; } }

/* Text */
h1 {
  font-size: 2.125em; }

h2 {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 1.875em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400; }

h4 {
  font-size: 1.625em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

h5 {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

h6 {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

p {
  font-size: 1em;
  line-height: 1.5; }

ol, ul {
  padding-left: 17px; }

ul {
  list-style: none; }

li {
  margin-bottom: 7px; }

a {
  color: #333;
  text-decoration: none;
  transition: all .3s ease; }

a:hover {
  text-decoration: none;
  color: #f59f1a; }

/* Header */
#masthead-wrap {
  position: fixed;
  background: white;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%; }
  #masthead-wrap header {
    width: 100%;
    max-width: 1280px;
    padding: 0 100px; }
    @media (max-width: 1000px) {
      #masthead-wrap header {
        padding: 0 40px; } }
  #masthead-wrap .site-description {
    width: 100%;
    background: #b42c33;
    font: 0.875em "Open Sans", sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 0;
    padding: 6px 0;
    letter-spacing: 2px;
    font-weight: 300; }
  #masthead-wrap .site-title {
    float: left; }
    #masthead-wrap .site-title img {
      width: 162px;
      height: 48px; }

/* Navigation */
.menu-toggle {
  font-size: 3em;
  float: right;
  line-height: 0;
  margin: -10px 0 0 0;
  z-index: 999;
  position: relative;
  padding: 0;
  display: none;
  background: none;
  border: none;
  outline: none;
  width: 35px;
  height: 50px; }
  @media (max-width: 800px) {
    .menu-toggle {
      display: block; } }
  .menu-toggle .bars:after, .menu-toggle .bars:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px; }
  .menu-toggle .bars:after {
    top: 10px; }
  .menu-toggle .bars {
    position: relative;
    display: block; }
  .menu-toggle .bars, .menu-toggle .bars:after, .menu-toggle .bars:before {
    border-radius: 1px;
    width: 100%;
    height: 5px;
    background-color: #b42c33;
    transition: all .3s;
    backface-visibility: hidden; }
  .menu-toggle.open .bars {
    background-color: transparent; }
  .menu-toggle.open .bars:before {
    transform: rotate(45deg) translate(4px, 7px);
    background-color: #fff; }
  .menu-toggle.open .bars:after {
    transform: rotate(-45deg) translate(7px, -11px);
    background-color: #fff; }
  .menu-toggle.open + .menu {
    opacity: 1;
    visibility: visible; }

.main-navigation {
  float: right;
  margin: 37px 0 34px; }
  .main-navigation ul {
    margin: 0;
    padding: 0; }
    .main-navigation ul li {
      float: left;
      margin-left: 10px;
      position: relative; }
      .main-navigation ul li a {
        color: #666;
        padding: 4px;
        display: block;
        font: 0.875em "Open Sans", sans-serif; }
        .main-navigation ul li a:hover {
          color: #f59f1a; }
      .main-navigation ul li.menu-item-has-children > a:after {
        margin-left: 7px;
        content: "\f107";
        font-family: FontAwesome; }
      .main-navigation ul li.current-menu-item a {
        color: #f59f1a; }
      .main-navigation ul li:hover ul {
        display: block; }
  .main-navigation #primary-menu > li:last-child a {
    font-weight: bold; }
  .main-navigation ul.sub-menu {
    display: none;
    position: absolute;
    top: 24px;
    left: 0; }
    .main-navigation ul.sub-menu li {
      float: none; }
      .main-navigation ul.sub-menu li a {
        white-space: nowrap; }
  @media (max-width: 800px) {
    .main-navigation ul {
      background: #b42c33;
      padding: 60px 0;
      position: absolute;
      transition: all .7s ease;
      z-index: 2;
      top: -600%;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 2.4em; }
      .main-navigation ul li {
        float: none; }
        .main-navigation ul li a {
          color: #fff; }
    .main-navigation.open ul {
      display: block;
      top: 0; } }

/* Content */
#content {
  min-height: 500px;
  padding-top: 134px;
  position: relative;
  z-index: 1; }

.hero-unit {
  width: 100%;
  background: black;
  text-align: center;
  line-height: 0;
  max-height: 603px;
  overflow: hidden; }
  .hero-unit video {
    width: 100%; }
  @media (max-width: 1400px) {
    .hero-unit img {
      width: 100%;
      height: auto; } }

.centered {
  width: 100%;
  max-width: 1280px; }

.flip-cards {
  background: #d2d3d5; }
  .flip-cards .centered {
    padding: 76px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

/* Flip Cards */
.flip-container {
  margin: 0 10px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d; }

.flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 340px;
  height: 300px;
  border-radius: 10px; }
  @media (max-width: 1174px) {
    .flip-container, .front, .back {
      width: 320px;
      height: 280px; } }
  @media (max-width: 1114px) {
    .flip-container, .front, .back {
      width: 280px;
      height: 260px; } }
  @media (max-width: 994px) {
    .flip-container, .front, .back {
      width: 220px;
      height: 220px; }
      .flip-container svg, .front svg, .back svg {
        padding: 15px 15px 0; } }
  @media (max-width: 814px) {
    .flip-container, .front, .back {
      width: 180px;
      height: 180px; }
      .flip-container svg, .front svg, .back svg {
        padding: 10px 25px 0; } }
  @media (max-width: 694px) {
    .flip-container, .front, .back {
      width: 100%;
      height: 220px;
      margin-bottom: 30px; }
      .flip-container svg, .front svg, .back svg {
        padding: 3px 0 0; } }

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ebf2f5; }

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  background: #ebf2f5;
  z-index: 2; }
  .front h5 {
    font-size: 1.375em;
    font-weight: 300; }
  .front svg {
    width: 100%;
    height: 100%;
    max-width: 134px;
    max-height: 134px;
    margin-bottom: 20px; }
  .front path, .front polygon {
    fill: #b32d33; }

.back {
  display: flex;
  align-items: flex-end;
  justfify-content: flex-end;
  color: #bbb;
  padding: 20px;
  background: #333;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }
  .back p {
    font-size: 0.875em;
    line-height: 1.8; }
  .back h2, .back h3, .back h4, .back h5, .back h6 {
    color: #fff;
    font-weight: 300;
    font-size: 1.375em; }
  @media (max-width: 1174px) {
    .back p {
      line-height: 1.4; } }

.front:hover, .back:hover {
  border: 1px solid #f59f1a;
  cursor: pointer; }

.btn {
  border-radius: 3px;
  border: 2px solid white;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 1rem "Open Sans", sans-serif;
  font-weight: 400; }
  .btn:hover {
    border-color: #f59f1a;
    color: #fff;
    margin-top: -2px;
    margin-bottom: 2px; }

/* Call out */
.callout {
  text-align: center;
  font: 1.375em "Open Sans", sans-serif;
  font-weight: 300;
  background: #b32d33;
  color: white;
  padding: 15px 0 45px; }
  .callout p {
    line-height: .7;
    font-size: 1.5em; }
  @media (max-width: 700px) {
    .callout {
      padding: 15px 7% 45px; }
      .callout p {
        line-height: 1.2;
        font-size: 1.25em; } }

.case-study {
  color: #747474;
  padding: 70px 0px; }
  .case-study .left-col {
    float: left;
    width: 40%;
    padding: 0 7% 0 100px; }
    @media (max-width: 900px) {
      .case-study .left-col {
        width: 100%;
        text-align: center;
        margin-bottom: 40px; } }
  .case-study .right-col {
    float: right;
    width: 57%; }
    @media (max-width: 900px) {
      .case-study .right-col {
        width: 100%;
        padding: 0 7%; } }
  .case-study h4 {
    font-size: 1.125em;
    margin-bottom: 0px;
    color: #333; }
    @media (max-width: 900px) {
      .case-study h4 {
        font-size: 1.375em; } }
  .case-study p {
    font-size: 0.875em; }
  .case-study iframe {
    width: 98%;
    max-height: 400px; }
  .case-study .btn {
    color: #333;
    border-color: #333; }
    .case-study .btn:hover {
      border-color: #f59f1a; }

.news-feed {
  background: #0c141d;
  color: white;
  font: 1em "Open Sans", sans-serif;
  padding: 42px 0px;
  text-align: center; }
  .news-feed h3 {
    color: #fff;
    font-weight: 300;
    text-transform: capitalize; }
  .news-feed ul {
    padding: 0 100px;
    text-align: left;
    margin-bottom: 30px; }
    .news-feed ul li {
      margin-bottom: 14px;
      font-size: 0.875em; }
    .news-feed ul .date {
      font-weight: 400;
      font-size: 1.125em;
      display: inline-block;
      width: 170px; }

.event-feed {
  background: url(../img/honeycomb-bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  font: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 150px 200px; }
  .event-feed p {
    padding: 0 100px; }
  .event-feed h2 {
    font-weight: 300;
    font-size: 2.625em; }
  .event-feed h4 {
    font-size: 1.0625em;
    font-weight: 300;
    text-transform: uppercase;
    margin: 40px 0 20px; }
  .event-feed li {
    font-size: 0.875em;
    margin-bottom: 14px; }
  .event-feed .date {
    font-weight: 400;
    font-size: 1.125em;
    display: inline-block;
    margin-right: 10px; }

.contact-callout {
  background: #283139;
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif; }
  .contact-callout .centered {
    padding: 70px 100px; }

/* Footer */
#footer-wrap {
  background: #1f1f1f; }
  #footer-wrap .site-footer {
    width: 1280px;
    background: #1f1f1f;
    padding: 5px 100px 2px; }
    #footer-wrap .site-footer p {
      font: 1em "Open Sans", sans-serif;
      font-weight: 300;
      color: #d2d3d5;
      line-height: 1; }
    #footer-wrap .site-footer a {
      color: #d2d3d5; }
      #footer-wrap .site-footer a:hover {
        color: #f59f1a; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: .5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
