/* Clearfix */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}




/* Box Sizing */
@mixin box-sizing($boxModel) {
  -webkit-box-sizing: $boxModel; // Safari <= 5
     -moz-box-sizing: $boxModel; // Firefox <= 19
          box-sizing: $boxModel;
}
*,*:after,*:before {
  @include box-sizing(border-box);
}



/* Center Block Element */
%center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Remove all margin and padding */
@mixin no-margin {
	margin: 0;
	padding: 0;
}



/* PX to EM Converter */
@function em($pixels, $context: $baseFontSize) {
  @return #{$pixels/$context}em
}


/* generate easy linear gradients */
@mixin background-gradient($startColor, $endColor, $orientation) {
    background: $startColor;

    @if $orientation == 'vertical' {
      background: -webkit-linear-gradient(top, $startColor, $endColor);
      background: linear-gradient(to bottom, $startColor, $endColor);
    } @else if $orientation == 'horizontal' {
      background: -webkit-linear-gradient(left, $startColor, $endColor);
      background: linear-gradient(to right, $startColor, $endColor);
    } @else {
      background: -webkit-radial-gradient(center, ellipse cover, $startColor, $endColor);
      background: radial-gradient(ellipse at center, $startColor, $endColor);
    }
}


/* Wordpress Image Alignment and Caption Class */
%post__img{
  img, .wp-caption{
    display: block;
    max-width:100%;
    height: auto;
    overflow: hidden;
    &.alignleft{
      float: left;
      margin-right: 0.5em;
    }
    &.alignright{
      float: right;
      margin-left:  0.5em;
    }
    &.aligncenter{
      margin: 0 auto;
      text-align: center;
    }
    .wp-caption-text{
      text-align: center;
      margin-bottom:0;
      font-size:0.8em;
      padding-bottom: 0.4em;
    }
    img{
      margin:5px auto;
    }
  }
}


.screen-reader-text { position: absolute !important; left: -999em; }



/* Responsive Media Query */
@mixin responsive($maxWidth) {
  @media (max-width: #{$maxWidth}) {
    @content;
  }
}