@import '_normalize.scss';
@import 'variables.scss';
@import 'helpers.scss';



/* Settings */
html, body {
  background: white;
  color: black;
  font: $baseFontSize $baseLineHeight $bodyFont;

}



/* Text */
h1 { font-size: em(34); }
h2 { font-size: em(32); @include no-margin; }
h3 { font-size: em(30); @include no-margin; font-weight: 400; }
h4 { font-size: em(26); @include no-margin; }
h5 { font-size: em(24); @include no-margin; }
h6 { font-size: em(24); @include no-margin; }
p { font-size: em(16); line-height: 1.5; }
ol { padding-left: 17px; }
ul { list-style: none; @extend ol }
li { margin-bottom: 7px; }
a { color: $linkColor; text-decoration: none; transition: all .3s ease; }
a:hover { text-decoration: none; color: $linkHover; }






/* Header */
#masthead-wrap {
	position: fixed;
	background: white;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	width: 100%;
	header { @extend %center-block; width: 100%; max-width: $siteWidth; padding: 0 100px; @extend %clearfix; }
	.site-description {
		width: 100%;
		background: #b42c33;
		font: em(14) $primaryFont;
		text-transform: uppercase;
		color: white;
		text-align: center;
		margin: 0;
		padding: 6px 0;
		letter-spacing: 2px;
		font-weight: 300;
	}
	.site-title {
		float: left;
		img { width: 162px; height: 48px; }
	}
}



/* Navigation */
#burger { font-size: 3em; float: right; line-height: 0; margin: -6px 25px 0 0; padding: 0; display: none; }


.main-navigation {
	float: right;
	margin: 37px 0 34px;
	ul {
		@include no-margin;
		@extend %clearfix;
		li {
			float: left;
			margin-left: 10px;
			position: relative;
			a {
				color: #666;
				padding: 4px;
				display: block;
				font: em(14) $primaryFont;
				&:hover {
					color: $linkHover;
				}
			}
			&.menu-item-has-children {
				> a:after { margin-left: 7px; content: "\f107"; font-family: FontAwesome; }
			}
			&.current-menu-item {
				a { color: $linkHover; }
			}
			&:hover {
				ul { display: block; }
			}
		}
	}
	ul.sub-menu {
		display: none;
		position: absolute;
		top: 24px;
		left: 0;
		li {
			float: none;
			a { white-space: nowrap; }
		}
	}

 }

/* Content */
#content {
	min-height: 500px;
	padding-top: 134px;
	position: relative;
	z-index: 1;
}

.hero-unit {
	width: 100%;
	background: black;
	text-align: center;
	line-height: 0;
	img {
		@include responsive('1400px') { width: 100%; height: auto; }
	}
}


.centered {
	width: 100%;
	max-width: $siteWidth;
	@extend %center-block;
}


.flip-cards {
	background: #d2d3d5;
	.centered {
		padding: 76px 40px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}



/* Flip Cards */
.flip-container {
	margin: 0 10px;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

}


.flip-container.hover .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.flip-container.hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.flip-container, .front, .back {
	width: 340px;
	height: 300px;
	border-radius: 10px;
	@include responsive('1174px') {
		width: 320px;
		height: 280px;
	}
	@include responsive('1114px') {
		width: 280px;
		height: 260px;
	}
	@include responsive('994px') {
		width: 220px;
		height: 200px;
	}
	@include responsive('814px') {
		width: 180px;
		height: 180px;
	}
	@include responsive('694px'){
		width: 100%;
		height: 220px;
		margin-bottom: 30px;
	}
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;

	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);

	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-o-transform: rotateY(0deg);

	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	-ms-transform: rotateY(0deg);

	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(0deg);

	position: absolute;
	top: 0;
	left: 0;

	border: 1px solid #ebf2f5;
}

.front {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	background: #ebf2f5;
	z-index: 2;
}

.back {
	background: #333;
	-webkit-transform: rotateY(-180deg);
    	-moz-transform: rotateY(-180deg);
    	-o-transform: rotateY(-180deg);
    	-ms-transform: rotateY(-180deg);
    	transform: rotateY(-180deg);
}

.front:hover, .back:hover { border: 1px solid $linkHover; cursor: pointer; }


.btn {
	border-radius: 3px;
	border: 2px solid white;
	display: inline-block;
	color: white;
	padding: 10px 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font: 1rem $primaryFont;
	font-weight: 400;
	&:hover { border-color: $linkHover; color: #fff; margin-top: -2px; margin-bottom: 2px; }
}




/* Call out */
.callout {
	text-align: center;
	font: em(22) $primaryFont;
	font-weight: 300;
	background: #b32d33;
	color: white;
	padding: 15px 0 45px;
	p { line-height: 1.2; font-size: em(24); }
}


.case-study {
	color: $secondaryColor;
	padding: 70px 0px;
	.left-col { float: left; width: 40%; padding: 0 7% 0 100px; }
	.right-col { float: right; width: 57%; }
	h4 { font-size: em(18); margin-bottom: 0px; color: $primaryColor; }
	p { font-size: em(14); }
	iframe { width: 98%; max-height: 400px }
	.btn {
		color: $primaryColor;
		border-color: $primaryColor;
		&:hover { border-color: $linkHover;  }
	}
	@extend %clearfix;
}



.news-feed {
	background: #0c141d;
	color: white;
	font: em(16) $primaryFont;
	padding: 42px 0px;
	text-align: center;
	h3 { color: #fff; font-weight: 300; text-transform: capitalize; }
	ul {
		padding: 0 100px;
		text-align: left;
		margin-bottom: 30px;
		li {
			margin-bottom: 14px;
			font-size: em(14);
		}
		.date { font-weight: 400; font-size: em(18); display: inline-block;  width: 170px; }
	}
}

.event-feed {
	background: url(../img/honeycomb-bg.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	font: $primaryFont;
	font-weight: 300;
	text-align: center;
	padding: 150px 200px;
	p { padding: 0 100px; }
	h2 { font-weight: 300; font-size: em(42); }
	h4 { font-size: em(17); font-weight: 300; text-transform: uppercase;  margin: 40px 0 20px; }
	li { font-size: em(14); margin-bottom: 14px; }
	.date { font-weight: 400; font-size: em(18); display: inline-block; margin-right: 10px; }
}



.contact-callout {
	background: #283139;
	color: #fff;
	text-align: center;
	font-family: $primaryFont;
	.centered { padding: 70px 100px; }
}





/* Footer */
#footer-wrap {
	background: #1f1f1f;
	.site-footer {
		width: $siteWidth;
		@extend %center-block;
		background: #1f1f1f;
		padding: 5px 100px 2px;
		p {
			font: 1em $primaryFont;
			font-weight: 300;
			color: #d2d3d5;
			line-height: 1;
		}
	}
}







/* ==========================================================================
   Print styles
   ========================================================================== */
@media print{*{background:transparent!important;color:#000!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

