@import '_normalize.scss';
@import 'variables.scss';
@import 'helpers.scss';



/* Settings */
html {
  background: white;
  color: black;
  font: $baseFontSize $baseLineHeight $bodyFont;
  @include responsive('1000px') {
 	font-size: 14px;
  }
}



/* Text */
h1 { font-size: em(34); }
h2 { font-size: em(32); font-family: $primaryFont; @include no-margin; }
h3 { font-size: em(30); font-family: $primaryFont; @include no-margin; font-weight: 400; }
h4 { font-size: em(26); font-family: $primaryFont; @include no-margin; }
h5 { font-size: em(24); font-family: $primaryFont; @include no-margin; }
h6 { font-size: em(24); font-family: $primaryFont; @include no-margin; }
p { font-size: em(16); line-height: 1.5; }
ol { padding-left: 17px; }
ul { list-style: none; @extend ol }
li { margin-bottom: 7px; }
a { color: $linkColor; text-decoration: none; transition: all .3s ease; }
a:hover { text-decoration: none; color: $linkHover; }






/* Header */
#masthead-wrap {
	position: fixed;
	background: white;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	width: 100%;
	header {
		@extend %center-block;
		width: 100%;
		max-width: $siteWidth;
		padding: 0 100px;
		@extend %clearfix;
		@include responsive('1000px'){
			padding: 0 40px;
		}
	}
	.site-description {
		width: 100%;
		background: $red;
		font: em(14) $primaryFont;
		text-transform: uppercase;
		color: white;
		text-align: center;
		margin: 0;
		padding: 6px 0;
		letter-spacing: 2px;
		font-weight: 300;
		span {
			color: $linkHover;
		}
	}

}

.site-title {
	float: left;
	margin-top: 20px;
	display: block;
	width: 162px;
	height: 58px;
	#RedLeaf { fill: $red; }
	#OrangeLeaf { fill: $linkHover; }
	#Name { fill: $red; }
	#Tagline { fill: white; }
}



/* Navigation */
.menu-toggle {
	font-size: 3em;
	float: right;
	line-height: 0;
	margin: -10px 0 0 0;
	z-index: 999;
	position: relative;
	padding: 0;
	display: none;
	background: none;
   	border: none;
    	outline: none;
	width: 35px;
	height: 50px;
	@include responsive('800px'){
		display: block;
	}
	 .bars:after, .bars:before{content:"";position:absolute;left:0;top:-10px}
	 .bars:after{top:10px}
	 .bars{position:relative;display:block}
	 .bars, .bars:after, .bars:before{border-radius: 1px; width:100%;height:5px;background-color:$red;transition:all .3s;backface-visibility:hidden; }
	&.open .bars{background-color:transparent}
	&.open .bars:before{transform:rotate(45deg) translate(4px,7px); background-color: #fff; }
	&.open .bars:after{transform:rotate(-45deg) translate(7px,-11px); background-color: #fff; }
	&.open + .menu{opacity:1;visibility:visible}
}


.main-navigation {
	float: right;
	margin: 37px 0 34px;
	ul {
		@include no-margin;
		@extend %clearfix;
		li {
			float: left;
			margin-left: 10px;
			position: relative;
			a {
				color: #666;
				padding: 4px;
				display: block;
				font: em(14) $primaryFont;
				&:hover {
					color: $linkHover;
				}
			}
			&.menu-item-has-children {
				> a:after { margin-left: 7px; content: "\f107"; font-family: FontAwesome; }
			}
			&.current-menu-item {
				a { color: $linkHover; }
			}
			&:hover {
				ul { display: block; }
			}
		}
	}
	#primary-menu {
		> li:last-child a { font-weight: bold; }
	}
	ul.sub-menu {
		display: none;
		position: absolute;
		top: 24px;
		left: 0;
		li {
			float: none;
			a { white-space: nowrap; }
		}
	}
	@include responsive('800px'){
		ul {
			background: $red;
			padding: 60px 0;
			position: absolute;
			transition: all .7s ease;
			z-index: 2;
			top: -600%;
			left: 0;
			width: 100%;
			text-align: center;
			font-size: 2.4em;
			li {
				float: none;
				a {
					color: #fff;
				}
			}
		}
		&.open {
			ul {
				display: block;
				top: 0;
			}
		}
	}
 }

/* Content */
#content {
	min-height: 500px;
	padding-top: 134px;
	position: relative;
	z-index: 1;
}

.hero-unit {
	width: 100%;
	background: black;
	line-height: 0;
	height: 603px;
	max-height: 603px;
	h2 {
		margin: 0 auto;
		width: $siteWidth;
		font-weight: 400;
		padding: 135px 100px;
		font-size: em(48);
		color: #382d23;
		text-shadow: 0 0 8px #f5c573;
	}
}


.centered {
	width: 100%;
	max-width: $siteWidth;
	@extend %center-block;
}


.body-content {
	font: em(18) $primaryFont;
	background: #fff url(../img/body-content-bg.png) repeat center center;
	@extend %clearfix;
	text-shadow: 0 0 4px #fff;
	padding: 40px 0;
	.centered {
		padding: 0 100px;
	}
	p { margin: 0 0 4px 0; }
	.left, .right {
		float: left;
		font-size: em(14);
		width: 47%;
		margin-top: 20px;
	}
	.right {
		margin-left: 6%;
		float: right;
	}
}


.flip-cards {
	background: #d2d3d5;
	.centered {
		padding: 76px 40px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}



/* Flip Cards */
.flip-container {
	margin: 0 10px;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

}


.flip-container.hover .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.flip-container.hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.flip-container, .front, .back {
	width: 340px;
	height: 300px;
	border-radius: 10px;
	@include responsive('1174px') {
		width: 320px;
		height: 280px;
	}
	@include responsive('1114px') {
		width: 280px;
		height: 260px;
	}
	@include responsive('994px') {
		width: 220px;
		height: 220px;
		svg {
			padding: 15px 15px 0;
		}
	}
	@include responsive('814px') {
		width: 180px;
		height: 180px;
		svg {
			padding: 10px 25px 0;
		}
	}
	@include responsive('694px'){
		width: 100%;
		height: 220px;
		margin-bottom: 30px;
		svg {
			padding: 3px 0 0;
		}
	}
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;

	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);

	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-o-transform: rotateY(0deg);

	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	-ms-transform: rotateY(0deg);

	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(0deg);

	position: absolute;
	top: 0;
	left: 0;

	border: 1px solid #ebf2f5;
}

.front {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	background: #ebf2f5;
	z-index: 2;
	h5 { font-size: em(22); font-weight: 300; }
	svg { width: 100%; height: 100%; max-width: 134px; max-height: 134px; margin-bottom: 20px; }
	path, polygon { fill: #b32d33; }
}

.back {
	display: flex;
	align-items: flex-end;
	justfify-content: flex-end;
	color: #bbb;
	padding: 20px;
	background: #333;
	-webkit-transform: rotateY(-180deg);
    	-moz-transform: rotateY(-180deg);
    	-o-transform: rotateY(-180deg);
    	-ms-transform: rotateY(-180deg);
    	transform: rotateY(-180deg);
	p { font-size: em(14); line-height: 1.8; }
	h2, h3, h4, h5, h6 { color: #fff; font-weight: 300; font-size: em(22); }
	@include responsive('1174px') {
		p { line-height: 1.4; }
	}
}

.front:hover, .back:hover { border: 1px solid $linkHover; cursor: pointer; }


.btn {
	border-radius: 3px;
	border: 2px solid white;
	display: inline-block;
	color: white;
	padding: 10px 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	font: 1rem $primaryFont;
	font-weight: 400;
	&:after { transition: all 0.3s ease; content: "»"; font-size: em(25); opacity: 0; position: absolute; right: 20%; top: 1px; }
	&:hover {
		border-color: $linkHover;
		color: #fff;
		padding-right: 40px;
		&:after {  right: 7%; opacity: 1; }
	}

}




/* Call out */
.callout {
	text-align: center;
	font-family: $primaryFont;
	padding: 70px;
	color: #747474;
	h2 { font-weight: 300; color: #333; }
	a { color: $linkHover; &:hover { color: $red; } }
	@include responsive('700px'){
		padding: 15px 7% 45px;
		p { line-height: 1.2; font-size: em(20); }
	}
	&.red {
		background: #b32d33;
		color: #fff;
		font: em(22) $primaryFont;
		padding: 15px 0 45px;
		p { line-height: .7; font-size: em(24); font-weight: 300; }
		a { color: white; &:hover { color: white; } }
	}
	.centered { max-width: 1081px; }
}


.case-study {
	color: $secondaryColor;
	padding: 70px 0px;
	.left-col {
		float: left;
		width: 40%;
		padding: 0 7% 0 100px;
	 	@include responsive('900px'){
	 		width: 100%;
	 		text-align: center;
	 		margin-bottom: 40px;
	 	}
	 }
	.right-col {
		float: right;
		width: 57%;
		@include responsive('900px'){
			width: 100%;
			padding: 0 7%;
		}
	}
	h4 {
		font-size: em(18);
		margin-bottom: 0px;
		color: $primaryColor;
		@include responsive('900px'){
			font-size: em(22);
		}
	}
	p { font-size: em(14); }
	iframe { width: 98%; max-height: 400px }
	.btn {
		color: $primaryColor;
		border-color: $primaryColor;
		&:hover { border-color: $linkHover;  }
	}
	@extend %clearfix;
}



.news-feed {
	background: #a4aad6 url(../img/news-bg.png) repeat center center;
	color: white;
	font: em(16) $primaryFont;
	padding: 42px 0px;
	.right-col { width: 531px; float: right; padding-right: 20px; }
	@extend %clearfix;
	h3 { color: #fff; font-weight: 300; text-transform: capitalize; }
	ul {
		padding: 0px;
		margin-bottom: 30px;
		li {
			margin-bottom: 14px;
			font-size: em(14);
		}
		.date { font-weight: 400; font-size: em(18); display: inline-block;  margin-right: 20px;  }
	}
}

.event-feed {
	background: url(../img/events-bg.png) repeat center center, url(../img/events-water-bg.jpg) no-repeat center center;
	background-size: auto, cover;
	color: #fff;
	font: $primaryFont;
	font-weight: 300;
	text-align: center;
	padding: 150px 200px;
	p { padding: 0 100px; }
	h2 { font-weight: 300; font-size: em(42); }
	h4 { font-size: em(17); font-weight: 300; text-transform: uppercase;  margin: 40px 0 20px; }
	li { font-size: em(14); margin-bottom: 14px; }
	.date { font-weight: 400; font-size: em(18); display: inline-block; margin-right: 10px; }
}



.contact-callout {
	background: #a4aad6;
	color: #fff;
	text-align: center;
	font-family: $primaryFont;
	.centered { padding: 70px 100px; }
}





/* Footer */
#footer-wrap {
	background: #1f1f1f;
	.site-footer {
		p {
			font: 1em $primaryFont;
			font-weight: 300;
			color: #d2d3d5;
			line-height: 1;
		}
		a {
			color: #d2d3d5;
			&:hover { color: $linkHover; }
		}
	}
	.footer-top {
		background: #333;
		@extend %clearfix;
		.centered {
			@extend %center-block;
			padding: 35px 100px;
			width: $siteWidth;
		}
	}
	.footer-bottom {
		background: #1f1f1f;
		.site-info {
			width: $siteWidth;
			padding: 6px 100px;
			@extend %center-block;
		}
	}
	.site-title {
		margin-right: 70px;
		width: 180px;
		margin-top: 0;
		#Tagline path, #Name path { fill: #ffffff }
	}
}







/* ==========================================================================
   Print styles
   ========================================================================== */
@media print{*{background:transparent!important;color:#000!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

