@import '_normalize.scss';
@import 'variables.scss';
@import 'helpers.scss';



/* Settings */
html {
  background: white;
  color: black;
  font: $baseFontSize $baseLineHeight $bodyFont;
  @include responsive('1000px') {

  }
}



/* Text */
h1 { font-size: em(34); }
h2 { font-size: em(32); font-family: $primaryFont; @include no-margin; }
h3 { font-size: em(30); font-family: $primaryFont; @include no-margin; font-weight: 400; }
h4 { font-size: em(26); font-family: $primaryFont; @include no-margin; }
h5 { font-size: em(24); font-family: $primaryFont; @include no-margin; }
h6 { font-size: em(24); font-family: $primaryFont; @include no-margin; }
p { font-size: em(16); line-height: 1.5; }
ol { padding-left: 17px; }
ul { list-style: none; @extend ol }
li { margin-bottom: 7px; }
a { color: $linkColor; text-decoration: none; transition: all .3s ease; }
a:hover { text-decoration: none; color: $linkHover; }






/* Header */
#masthead-wrap {
	position: fixed;
	background: white;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	width: 100%;
	header {
		@extend %center-block;
		width: 100%;
		max-width: $siteWidth;
		padding: 0 100px;
		@extend %clearfix;
		@include responsive('1000px'){
			padding: 0 40px;
		}
	}
	.site-description {
		width: 100%;
		background: $red;
		font: em(14) $primaryFont;
		text-transform: uppercase;
		color: white;
		text-align: center;
		margin: 0;
		padding: 6px 0;
		letter-spacing: 2px;
		font-weight: 300;
		a {
			color: white;
		}
		a:hover, span {
			color: $linkHover;
		}
	}

}

.site-title {
	float: left;
	margin-top: 20px;
	display: block;
	width: 162px;
	height: 58px;
	#RedLeaf { fill: $red; }
	#OrangeLeaf { fill: $linkHover; }
	#Name { fill: $red; }
	#Tagline { fill: white; }
}



/* Navigation */
.menu-toggle {
	font-size: 3em;
	float: right;
	line-height: 0;
	margin: -10px 0 0 0;
	z-index: 999;
	position: relative;
	padding: 0;
	display: none;
	background: none;
   	border: none;
    	outline: none;
	width: 35px;
	height: 50px;
	@include responsive('800px'){
		display: block;
	}
	 .bars:after, .bars:before{content:"";position:absolute;left:0;top:-10px}
	 .bars:after{top:10px}
	 .bars{position:relative;display:block}
	 .bars, .bars:after, .bars:before{border-radius: 1px; width:100%;height:5px;background-color:$red;transition:all .3s;backface-visibility:hidden; }
	&.open .bars{background-color:transparent}
	&.open .bars:before{transform:rotate(45deg) translate(4px,7px); background-color: #fff; }
	&.open .bars:after{transform:rotate(-45deg) translate(7px,-11px); background-color: #fff; }
	&.open + .menu{opacity:1;visibility:visible}
}


.main-navigation {
	float: right;
	margin: 37px 0 34px;
	ul {
		@include no-margin;
		@extend %clearfix;
		li {
			float: left;
			margin-left: 10px;
			position: relative;
			a {
				color: #666;
				padding: 4px;
				display: block;
				font: em(14) $primaryFont;
				&:hover {
					color: $linkHover;
				}
			}
			&.menu-item-has-children {
				> a:after { margin-left: 7px; content: "\f107"; font-family: FontAwesome; }
			}
			&.current-menu-item {
				a { color: $linkHover; }
			}
			&:hover {
				ul { display: block; }
			}
		}
	}
	#primary-menu {
		> li:last-child a { font-weight: bold; }
	}
	ul.sub-menu {
		display: none;
		position: absolute;
		top: 24px;
		left: 0;
		li {
			float: none;
			a { white-space: nowrap; }
		}
	}
	@include responsive('800px'){
		ul {
			background: $red;
			padding: 60px 0;
			position: absolute;
			transition: all .7s ease;
			z-index: 2;
			top: -600%;
			left: 0;
			width: 100%;
			text-align: center;
			font-size: 2.4em;
			li {
				float: none;
				a {
					color: #fff;
				}
			}
		}
		&.open {
			ul {
				display: block;
				top: 0;
			}
		}
	}
 }

/* Content */
#content {
	min-height: 500px;
	padding-top: 134px;
	position: relative;
	z-index: 1;
}

.hero-unit {
	width: 100%;
	background: black;
	line-height: 0;
	height: 603px;
	@include responsive('900px'){
		height: 400px;
	}
	h2 {
		margin: 0 auto;
		width: 100%;
		max-width: $siteWidth;
		font-weight: 400;
		padding: 135px 100px;
		font-size: em(48);
		line-height: 1.3;
		color: #382d23;
		text-shadow: 0 0 8px #f5c573;
		@include responsive('900px'){
			text-align: center;
			padding: 40px;
		}
		@include responsive('500px'){
			font-size: em(35);
			padding: 30px 40px;
		}
	}
}


.centered {
	width: 100%;
	max-width: $siteWidth;
	@extend %center-block;
}


.body-content {
	font: em(18) $primaryFont;
	background: #fff url(../img/body-content-bg-fade.png) repeat center center;
	@extend %clearfix;
	text-shadow: 0 0 4px #fff;
	padding: 40px 0;
	.centered {
		padding: 0 100px;
		@include responsive('900px'){
			padding: 0 40px;
		}
	}
	p { margin: 0 0 4px 0; }
	.left, .right {
		float: left;
		font-size: em(14);
		width: 47%;
		margin-top: 20px;
		@include responsive('800px'){
			width: 100%;
		}
	}
	.right {
		margin-left: 6%;
		float: right;
	}
}


.flip-cards {
	background: #d2d3d5;
	.centered {
		padding: 76px 40px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}



/* Flip Cards */
.flip-container {
	margin: 0 10px;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

}


.flip-container.hover .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.flip-container.hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.flip-container, .front, .back {
	width: 340px;
	height: 300px;
	border-radius: 10px;
	@include responsive('1174px') {
		width: 320px;
		height: 280px;
	}
	@include responsive('1114px') {
		width: 100%;
		margin-bottom: 40px;
		height: 260px;
	}
	@include responsive('331px') {
		width: 100%;
		margin-bottom: 40px;
		height: 320px;
	}

}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;

	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);

	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-o-transform: rotateY(0deg);

	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	-ms-transform: rotateY(0deg);

	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(0deg);

	position: absolute;
	top: 0;
	left: 0;

	border: 1px solid #ebf2f5;
}

.front {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	background: #ebf2f5;
	z-index: 2;
	h5 { font-size: em(22); font-weight: 300; }
	svg { width: 100%; height: 100%; max-width: 134px; max-height: 134px; margin-bottom: 20px; }
	path, polygon { fill: #b32d33; }
}

.back {
	display: flex;
	align-items: flex-end;
	justfify-content: flex-end;
	color: #bbb;
	padding: 20px;
	background: #333;
	-webkit-transform: rotateY(-180deg);
    	-moz-transform: rotateY(-180deg);
    	-o-transform: rotateY(-180deg);
    	-ms-transform: rotateY(-180deg);
    	transform: rotateY(-180deg);
	p { font-size: em(14); line-height: 1.8; }
	h2, h3, h4, h5, h6 { color: #fff; font-weight: 300; font-size: em(22); }
	@include responsive('1174px') {
		p { line-height: 1.4; }
	}
	@include responsive('1114px') {
		p { line-height: 1.6; font-size: em(16); }
	}
	@include responsive('670px') {
		p { font-size: em(14); }
	}
	@include responsive('472px') {
		padding: 10px;
		h2, h3, h4, h5, h6 { font-size: em(18); }
		p { font-size: em(13);  line-height: 1.4; }
	}
	@include responsive('422px') {
		h2, h3, h4
		p { font-size: em(12); }
	}
}

.front:hover, .back:hover { border: 1px solid $linkHover; cursor: pointer; }


.btn {
	border-radius: 3px;
	border: 2px solid white;
	display: inline-block;
	color: white;
	padding: 10px 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	font: 1rem $primaryFont;
	font-weight: 400;
	&:after { transition: all 0.3s ease; content: "»"; font-size: em(25); opacity: 0; position: absolute; right: 20%; top: 1px; }
	&:hover {
		border-color: $linkHover;
		color: #fff;
		padding-right: 40px;
		&:after {  right: 7%; opacity: 1; }
	}

}




/* Call out */
.callout {
	text-align: center;
	font-family: $primaryFont;
	padding: 70px;
	color: #747474;
	h2 { font-weight: 300; color: #333; }
	a { color: $linkHover; &:hover { color: $red; } }
	@include responsive('740px'){
		padding: 45px 7% 45px;
		p { line-height: 1.2; font-size: em(20); }
	}
	&.red {
		background: #b32d33;
		color: #fff;
		font: em(22) $primaryFont;
		p { line-height: 1.2; font-size: em(24); font-weight: 300; margin: 0 0 20px; }
		a { color: white; &:hover { color: white; } }
		@include responsive('450px'){
			font-size: em(18);
			.btn { margin-top: 20px; }
		}
	}
	.centered { max-width: 1081px; }
}


.case-study {
	color: $secondaryColor;
	padding: 70px 0px;
	.left-col {
		float: left;
		width: 40%;
		padding: 0 7% 0 100px;
	 	@include responsive('900px'){
	 		width: 100%;
	 		padding: 0 7%;
	 		text-align: center;
	 		margin-bottom: 40px;
	 	}
	 }
	.right-col {
		float: right;
		width: 57%;
		@include responsive('900px'){
			width: 100%;
			padding: 0 7%;
		}
	}
	h4 {
		font-size: em(18);
		margin-bottom: 0px;
		color: $primaryColor;
		@include responsive('900px'){
			font-size: em(22);
		}
	}
	p { font-size: em(14); }
	iframe { width: 98%; max-height: 400px }
	.btn {
		color: $primaryColor;
		border-color: $primaryColor;
		&:hover { border-color: $linkHover;  }
	}
	@extend %clearfix;
}



.news-feed {
	background: #a4aad6 url(../img/news-bg.png) repeat center center;
	color: white;
	font: em(16) $primaryFont;
	padding: 42px 0px;
	.right-col { width: auto; max-width: 690px; float: right; padding: 40px; }
	@extend %clearfix;
	h3 { color: #fff; font-weight: 300; text-transform: capitalize; }
	ul {
		padding: 0px;
		margin-bottom: 30px;
		li {
			margin-bottom: 14px;
			font-size: em(14);
			@include responsive('540px'){
				margin-bottom: 30px;
			}
		}
		.date { font-weight: 400; font-size: em(18); display: inline-block;  margin-right: 20px;  }
	}
}

.event-feed {
	background: url(../img/events-water-bg.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	font: $primaryFont;
	font-weight: 300;
	text-align: center;
	padding: 150px 0px;
	p { padding: 0 100px; }
	h2 { font-weight: 300; font-size: em(42); }
	h4 { font-size: em(17); font-weight: 300; text-transform: uppercase;  margin: 40px 0 20px; }
	li { font-size: em(14); margin-bottom: 14px; padding: 0 40px; }
	.date { font-weight: 400; font-size: em(18); display: inline-block; margin-right: 10px; }
	@include responsive('740px'){
		padding: 50px 0px;
		p { padding: 0 40px; }
		li {
			margin-bottom: 30px;
		}
	}
}



.contact-callout {
	background: #a4aad6;
	color: #fff;
	text-align: center;
	font-family: $primaryFont;
	.centered {
		padding: 70px 100px;
		@include responsive('740px'){
			padding: 50px 40px;
		}
	}
}


/* Page */
#page-content {
	max-width: $siteWidth; margin: 0 auto; padding: 0 100px;
	@include responsive('1000px'){
		padding: 0 40px;
	}
}





/* Footer */
#footer-wrap {
	background: #1f1f1f;
	.site-footer {
		p {
			font: 1em $primaryFont;
			font-weight: 300;
			color: #d2d3d5;
			line-height: 1.5;
		}
		a {
			color: #d2d3d5;
			&:hover { color: $linkHover; }
		}
		.ce { display: inline-block; height: 20px; width: 20px;
			svg { fill: #fff; }
		}
	}
	.footer-top {
		background: #333;
		@extend %clearfix;
		.centered {
			@extend %center-block;
			padding: 35px 100px;
			max-width: $siteWidth;
			width: auto;
			@extend %clearfix;
			div { width: auto; max-width: 73%; float: left; }
			@include responsive('1000px'){
				padding: 30px 40px;
			}
			@include responsive('840px'){
				div { max-width: 100%; text-align: center; float: none; }
			}
		}
	}
	.footer-bottom {
		background: #1f1f1f;
		.site-info {
			width: auto;
			max-width: $siteWidth;
			padding: 6px 100px;
			@extend %center-block;
			@include responsive('1000px'){
				padding: 6px 40px;
				text-align: center;
			}

		}
	}
	.site-title {
		margin-right: 7%;
		width: 20%;
		margin-top: 0;
		float: left;
		#Tagline path, #Name path { fill: #ffffff }
		@include responsive('946px'){
			margin-top: 4%;
		}
		@include responsive('840px'){
			margin: 0 auto 70px;
			width: 100%;
			max-width: 240px;
			float: none;
		}
	}
}



.leadership-grid {
	list-style: none;
	padding: 20px 100px;
	margin: 0 auto;
	width: 100%;
	max-width: $siteWidth;
	@extend %clearfix;

	@include responsive('1292px'){
		max-width: 1010px;
	}

	@include responsive('1000px'){
		padding: 20px 40px;
	}

	@include responsive('807px'){
		max-width: 550px;
	}

	@include responsive('547px'){
		max-width: 280px;
	}

	li {
		display: inline-block;
		margin: 10px 30px;
		vertical-align: top;
		height: 270px;
		@include responsive('1021px'){
			margin: 10px 2%;
		}
		a:hover {
			color: #333;
		}
		&.management {
			border-top: 7px solid $linkHover;
			.section-title {
				color: $linkHover;
			}
		}
		&.board {
			border-top: 7px solid $red;
			.section-title {
				color: $red;
			}
		}
		&.clinical {
			border-top: 7px solid #a4aad6;
			.section-title {
				color: #a4aad6;
			}
		}
		.section-title {
			position: absolute;
			top: -35px;
			font-size: em(18);
			font-family: $primaryFont;
			font-weight: 400;
			left: 0;
		}
		h3 {
			font-size: em(18);
			font-weight: 400;
		}
		h4 {
			font-size: em(14);
			font-weight: 300;
		}
		.og-details h3 {
			font-weight: 300;
			font-size: em(46);
			margin-bottom: 10px;
		}

		.og-details h4 {
			font-weight: 400;
			font-size: em(18);
			margin-bottom: 10px;
		}

		.og-details p {
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: #999;
		}
	}
	.leadership-thumb {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
		-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
		-webkit-backface-visibility: hidden; /* Fix for transition flickering */
	}
	li:hover .leadership-thumb, .og-expanded .leadership-thumb {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    		-webkit-filter: grayscale(0%);
	}
	li > a, li > a img {
			border: none;
			outline: none;
			display: block;
			position: relative;
	}
	li.og-expanded > a::after {
		top: auto;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: #ebf2f5;
		border-width: 25px;
		left: 50%;
		margin: -18px 0 0 -25px;
	}
}



.og-expander {
	position: absolute;
	background: #ebf2f5;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 30px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: $red;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 20px;
}


.og-fullimg img {
	display: inline-block;
	float: right;
	margin: 10px 40px 0 0;
	max-height: 100%;
	max-width: 100%;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ebf2f5;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ebf2f5; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ebf2f5; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ebf2f5, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ebf2f5; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ebf2f5; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ebf2f5, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ebf2f5; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ebf2f5; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ebf2f5, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}





/* ==========================================================================
   Print styles
   ========================================================================== */
@media print{*{background:transparent!important;color:#000!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

