$baseFontSize: 16;
$baseLineHeight: 1;
$primaryFont: Helvetica, sans-serif;
$secondaryFont: Times, serif;
$bodyFont: Arial, sans-serif;

$primaryColor: blue;
$secondaryColor: purple;

$linkColor: pink;
$linkHover: orange;

