$baseFontSize: 16;
$baseLineHeight: 1;
$primaryFont: "Open Sans", sans-serif;
$secondaryFont: Times, serif;
$bodyFont: $primaryFont;

$primaryColor: lightblue;
$secondaryColor: lightgreen;

$linkColor: pink;
$linkHover: #f59f1a;

$siteWidth: 1081px;
