/* Fonts */
$baseFontSize: 16;
$baseLineHeight: 1;
$primaryFont: "Open Sans", sans-serif;
$secondaryFont: Times, serif;
$bodyFont: $primaryFont;


/* Colors */
$primaryColor: #333;
$secondaryColor: #747474;
$linkColor: #333;
$linkHover: #f59f1a;


/* Layout */
$siteWidth: 1280px;
$sitePadding: '0 100px';

